.khan__buy-link_animated {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s, opacity .3s;
}

.khan__buy-link_animated:hover {
  background-size: 100% 2px;
  opacity: .7;
}
