.section-title {
  position: relative;
  width: 60%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 1;
}
