.feynman {
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  margin-bottom: 100px;
  background: url(../../images/feynman.png) #f2f2f2 bottom left no-repeat;
  box-sizing: border-box;
}
